<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>MagicOps v0.1</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'magicops/css/starter-template.css' %}" rel="stylesheet">
            <!-- Custom CSS -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.js"></script>
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/codemirror/theme/monokai.css">
<script src="/static/codemirror/lib/codemirror.js"></script>
<script src="/static/codemirror/mode/xml/xml.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span style="color: red" >Magic</span><span style="color: white" >Ops</span></a>

                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == "/" %} class="active" {% endif %}>
                            <a href="/">Dashboard</a>
                        </li>
                        <li {% if request.path == "/vrd/" %} class="active" {% endif %} >
                            <a href="{% url 'mo-webservices' %}">WEB Services 1C</a>
                        </li>
                        <li {% if request.path == "/xml/" %} class="active" {% endif %}>
                            <a href="{% url 'mo-connectparams' %}">Connect Params</a>
                        </li>
                        <li>
                            <a href="#contact">Integrations</a>
                        </li>
                         <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if auth_user.is_authenticated %}
                                    {{ auth_user.get_full_name }}
                                    {% endif %} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                          </ul>
                        </li>
                    </ul>
                                    <!--<div style="padding-top: 8px"><h6 style="color: white" >Привет,&nbsp;-->
                                    <!--{% if auth_user.is_authenticated %}-->
                                    <!--{{ auth_user.get_full_name }}.-->
                                    <!--{% endif %}&nbsp;Авторизация выполнена {{ auth_user.last_login }}</h6></div>-->
                <!--</div>-->
                <!--/.nav-collapse -->
            </div>

        </nav>
        <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="starter-template">
                                <h1>Welcome to eSolutions MagicOps</h1>
                                <p class="lead">This environment configuration utility testing and development on 1C Enterprise.<br> All custom fields operate exclusively within one database, which is tied to your login.</p>
                            </div>
                        </div>
                    </div>

            {% block content %}
            {% endblock %}
        </div>
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

    </body>
</html>
