{% extends 'base.html' %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {% for field in form %}
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                            <label class="control-label">{{ field.label_tag }}</label>
                                            </div>
                                            <div class="col-lg-12">
                                                {{ field }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    <div class="form-group">
                                                    <!--<label class="col-md-3 control-label"></label>-->
                                                    <div class="col-lg-12">
                                                        <input class="btn btn-success" value="Deploy" type="submit" id="deploy">
                                                        <span></span>
                                                        <input class="btn btn-danger" value="Restore" type="reset" id="restore">
                                                    </div>
                                                </div>
                    </form>
                </div>
            </div>
                    <script>
                    $('#deploy').on('click', function() {
                                alert('Изменения сохранены на сервер!');
                    });
                    $('#restore').on('click', function() {
                                alert('Изменения сброшены!');
                    });
                    </script>​




{%  endblock %}